<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hazze Template">
    <meta name="keywords" content="Hazze, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hazze | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">

    <script type="text/javascript">
        function copy_link() {
            const el = document.createElement('textarea');
            el.value = "http://localhost:8080/form/Trolls World Tour/pid=1";
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
            alert("Link copied to clipboard: \n" + el.value);            
        }
     </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <input type="text" value="8080/forms?v=pKlSvrKpuD8" id="input_for_clipboard" hidden>
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="logo">
                        <a href="#">
                            <img src="/static/img/ix.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10">
                    <div class="main-menu mobile-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/explore">Explore</a></li>
                            <li class="active"><a href="/inprogress">In Progress</a></li>
                            <li><a href="/purchased">Purchased</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="breadcrumb-text">
                        <h3>Tickets Recommended</h3>
                    </div>
                </div>   
                <div class="col-lg-6 col-md-6 text-right">
                    <div class="breadcrumb-option">
                        <a href="#" class="chain-icon" onclick="return copy_link();"><i class="fa fa-chain"></i> Link</a>
                        <a href="/form/{{mname}}" class="chain-icon"><i class="fa fa-edit"></i> Edit</a>
                        <a href="/tickets/{{mname}}" class="chain-icon"><i class="fa fa-refresh"></i> Refresh</a>
                        <!-- <span>Movies</span> -->
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    
    <!-- Blog Section Begin -->
    <div class="blog-section">
        <div class="container">
            <div class="row">

                {% for i in range(len) %}
                <div class="col-lg-12">
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="bi-text">
                                    <h5>{{showings[i]['date']}}</h5>
                                    <span><i class="fa fa-clock-o"></i> {{showings[i]['time']}}</span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bi-text">
                                    <h5> {{showings[i]['cinema_name']}} </h5>
                                    <span><i class="fa fa-map-marker"></i> {{showings[i]['addr']}} </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bi-text">
                                    <h5>Screen 01</h5>
                                    <span><i class="fa fa-ticket"></i> {{showings[i]['selected_seats']}} </span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="bi-text" style="text-align: right;">
                                    <h5>$ {{showings[i]['price']}}</h5>
                                    <a href="/success" class="site-btn">Book Now</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}

{#                <div class="col-lg-12">#}
{#                    <div class="blog-item">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>Fri 23 JUN</h5>#}
{#                                    <span><i class="fa fa-clock-o"></i> 07:30PM - 09:45PM</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>AMC Empire 25</h5>#}
{#                                    <span><i class="fa fa-map-marker"></i> 312 W 34th St </span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>Screen 05</h5>#}
{#                                    <span><i class="fa fa-ticket"></i> 15E, 17E</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text" style="text-align: right;">#}
{#                                    <h5>$ 27</h5>#}
{#                                    <a href="#" class="site-btn">Book Now</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        #}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-12">#}
{#                    <div class="blog-item">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>Sat 24 JUN</h5>#}
{#                                    <span><i class="fa fa-clock-o"></i> 05:30PM - 07:45PM</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>Regal E-Walk 4DX & RPX</h5>#}
{#                                    <span><i class="fa fa-map-marker"></i> 247 W 42nd St </span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text">#}
{#                                    <h5>Screen 01</h5>#}
{#                                    <span><i class="fa fa-ticket"></i> 12F, 14F</span>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-3">#}
{#                                <div class="bi-text" style="text-align: right;">#}
{#                                    <h5>$ 30</h5>#}
{#                                    <a href="#" class="site-btn">Book Now</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        #}
{#                    </div>#}
            </div>
        </div>
    </div>
    <!-- Blog Section End -->
    
    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  |  Cornell Tech · Tata Consultancy Services · Team i
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>